
body{
    background-image: url(../../../assets/icon/Logoappmovil.jpg);
    background-repeat: no-repeat ;
    background-size: cover; /* Para asegurarte de que la imagen cubra toda la pantalla */
    background-position: center;
    filter: opacity(0.7); /* Ajusta el valor entre 0 (completamente transparente) y 1 (completamente opaco) */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

ion-card-title{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

ion-card{
    background-color: rgba(255, 255, 255, 0.9);
    width: 80%; /* Ajusta el ancho según tus necesidades */
    max-width: 600px; /* Tamaño máximo en pantallas grandes */
    height: 53%; /* Se ajusta automáticamente al contenido */
    padding: 20px; /* Agrega un relleno interno para darle más espacio al contenido */
    border: 2px solid;
    color: black;
    border-radius: 40px;
}

ion-button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 3%;
    
}

.registro{
    text-align: center;
}